.card {
  padding: 30px;
  text-align: center;
  background-color: #934c6a;
  border-radius: 30px;
  box-shadow: 0 8px 32px 0;
  border-color: black;
  /* display: block; */
  /* /* margin: 80px auto; */
  width: 880px;
  height: 650px;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin: auto;
}
h1 {
  color: whitesmoke;

  font-weight: bold;
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h3 {
  padding-left: 45px;
  color: whitesmoke;
  font-size: 65px;
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
p {
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #c3c3c3;
}
#tempInDegrees {
  padding-right: 10px;

  font-size: 18px;
}
#tempInDegrees :hover {
  color: black;
}

.p .date {
  margin-top: -30px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.search-bar {
  padding-top: 15px;
  padding-left: 30px;
  margin-left: -1px;
  margin-top: 25px;
  width: 300px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #ececec;
}

::placeholder {
  padding: 65px;
  font-style: italic;
}
.btn-light {
  margin-left: 10px;
  background-color: #767676;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  transition: all 240ms ease-in-out;
}

.btn-success {
  margin-left: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

.fa-cloud-moon-rain {
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
}

.fa-cloud-sun {
  font-size: 25px;
  color: whitesmoke;
}
.fa-cloud-showers-heavy {
  font-size: 25px;
  color: whitesmoke;
}
.fa-sun {
  font-size: 25px;
  color: whitesmoke;
}
.card .col-2 {
  text-align: center;
  display: flex;
}

.col-sm {
  color: whitesmoke;
  text-align: center;
}
#current-temp {
  font-size: 60px;
  text-align: center;
  color: whitesmoke;
}

.humidity-wind {
  /* position: relative; */
  top: 4px;
  left: -3px;
  list-style: none;
  color: whitesmoke;
  margin-left: 350px;
}
